@use 'variables' as var;

@mixin title-style {
  font-family: var.$font-title;
  font-size: var.$size-title;
}

@mixin subtitle-style {
  font-family: var.$font-title;
  font-size: var.$size-subtitle;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


@mixin for-phone {
  @media only screen and (max-width: var.$mobile) { @content; }
}

@mixin for-tablet{
  @media only screen and (max-width: var.$tablet) { @content; }
}

@mixin for-medium-screen{
  @media only screen and (max-width: var.$medium-screen) { @content; }
}