// Colors
$primary-color: #feebee;
$secondary-color: #fef9fa;
$light: #fff;
$text-color: #ab616d;
$btn-color: #f0ced3;
$card-color: #fff;
$legend-color: #cf939c;
$filter-color: #f6e4e6;
$footer-color: #f0ced3;
//Fonts

$font-title: 'Eczar';
$font-text: 'Work Sans';

//Desktop Size//
$size-title: 48px;
$size-subtitle: 28px;
$size-text: 18px;
$size-legend: 16px;

//Mobile Size //
$size-title-mobile: 28px;
$size-subtitle-mobile: 22px;
$size-text-mobile: 16px;
$size-legend-mobile: 12px;

// Padding sections //
$padding-section: 100px 0;
