@use '../helpers/variables' as var;

.btn {
  background-color: var.$btn-color;
  box-shadow: 0px 2px 4px #e3b3bb, 0px 4px 5px #e3b3bb, 0px 1px 10px #e3b3bb;
  border-radius: 6px;
  border: none;
  color: var.$text-color;
  font-size: var.$size-text;
  font-weight: bold;
  letter-spacing: 0.7px;
  cursor: pointer;
  padding: 15px 20px;
  height: 50px;
}
