@use '../helpers/variables' as var;

.dropdown {
  background-color: var.$filter-color;
  border-radius: 10px;
  margin-top: 10px;
  width: 400px;
  padding: 10px 15px;
  overflow: auto;
  position: absolute;
  display: none;
  z-index: 200;
  max-height: 200px;
  animation: drop 0.4s forwards;

  .dropdown__list {
    .dropdown__item {
      padding: 20px 0;
      font-size: var.$size-text;

      &:hover {
        cursor: pointer;
        background-color: var.$legend-color;
        color: var.$light;
      }
    }
  }
}

@keyframes drop {
  from {
    transform: translate3d(0, -25px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
