@use '../helpers/variables' as var;
@use '../helpers/mixins';

.menu__filter {
  #filter {
    background-color: var.$filter-color;
    border: none;
    outline: none;
    border-radius: 6px;
    color: var.$text-color;
    font-size: var.$size-text;
    font-weight: bold;
    margin-top: 10px;
    padding: 15px;
    width: 400px;
    height: 50px;

    &::placeholder {
      color: rgba(135, 62, 74, 0.3);
      font-weight: normal;
    }
  }

  i {
    position: relative;
    top: -2px;
    left: -35px;
    color: rgba(135, 62, 74, 0.3);
    font-size: 20px;
    z-index: 3000;

    &.up {
      top: 5px;
      transform: rotate(180deg);
    }
  }

  @include mixins.for-phone {
    #filter {
      font-size: var.$size-text-mobile;
      width: 300px;
    }
  }
}

//tags//
.tags__container {
  margin-top: 10px;
  width: 400px;

  .tag {
    display: inline-block;
    height: 30px;
    background: var.$primary-color;
    border-radius: 6px;
    font-size: var.$size-legend;
    padding: 5px 15px;
    margin-top: 15px;
    margin-right: 10px;

    &::after {
      content: 'x';
      font-size: 18px;
      margin-left: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  @include mixins.for-phone {
    width: 300px;
  }
}

.hide,
.warning,
.hide2 {
  display: none;
}
