@use '../helpers/variables' as var;
@use '../helpers/mixins';

.footer {
  background-color: var.$footer-color;
  padding: var.$padding-section;

  .footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copy {
      color: var.$light;
      font-size: var.$size-text;
    }

    .socials__icons {
      .socials__icon {
        font-size: 35px;
        color: var.$text-color;
        margin-right: 35px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  @include mixins.for-tablet {
    margin-top: 290px;
  }

  @include mixins.for-phone {
    padding: var.$padding-section-mobile;
    margin-top: 350px;

    .footer_content {
      flex-direction: column;

      .copy {
        font-size: var.$size-text-mobile;
        padding: 20px 0;
      }
    }
  }
}
