@use '../helpers/variables' as var;
@use '../helpers/mixins';

#header {
  background-color: var.$primary-color;

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }

  .menu__list {
    @include mixins.flex;
  }

  .menu__item {
    a {
      text-transform: lowercase;
      font-size: var.$size-text;
      margin-left: 50px;
      color: var.$text-color;
      transition: 0.5s;     

      &.btn {
       text-transform: uppercase;
      }

      &:hover {
        font-weight: bold;
      }
    }

    &:last-child {
      animation: btn-pulse 1.5s infinite;      
    }
  }
}

@keyframes btn-pulse {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
